<div id="containerAdminHome">
        <aside class="aside">
            <div class="divImg">
                <img class="avatar" src="../src/assets/noteimg.png" alt="" width="80" height="80">
                <div>
                    <h4>adrian</h4>
                    <h5>Admin</h5>
                </div>
                
            </div>
            <div class="divButton">
                <button class="btn btn-info">Events</button>
                <button type="button" class="btn btn-secondary">Logout</button>
            </div>
        </aside>
        <div class="containerEvents">
         
        </div>
        
    </div>