        <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/styles/style.css" />
    <title>Dashboard</title>
  </head>
  <body class="body">
    <header class="header">
      <h1>Eventos</h1>
    </header>

    <main id="container">
        <div id="containerAdminHome">
        <aside class="aside">
            <div class="divImg">
                <img class="avatar" src="../..//assets/noteimg.png" alt="" width="80" height="80">
                <div>
                    <h4>adrian</h4>
                    <h5>Admin</h5>
                </div>
                
            </div>
            <div class="divButton">
                <a href="#/createEvents" class="btn btn-info">Create Events</a>
                <button type="button" class="btn btn-secondary" id="SignOut">Logout</button>
            </div>
        </aside>
        <div class="containerEvents" id="containerEvents">
         
        </div>
    </div>
    

    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../js/home.js"></script>
  </body>
</html>