<div id="containerRegister">
    <form class="formRegister">
        <h2 class="h2">Register</h2>
        <div class="mb-3">
            <label for="nameRegister" class="form-label">Full Name: </label>
            <input type="text" id="nameRegister" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="email" id="emailRegister" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <div class="mb-3">
            <label for="rol" class="form-label">Rol Admin:  </label>
            <input type="checkbox" id="rol">
        </div>
            
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <a class="a" href="#/login">Already have an account? Sign in</a>

 
</div>